<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body style="font-size: 18px; background-color: #f6f8fa; color: #484B68;">
    <div style="margin: 0 auto; padding: 50px; max-width: 500px; background-color: #fff; box-shadow: 0 2px 3px 0 rgb(230,230,230);">
        <div style="text-align: center; margin-bottom: 50px;">
            <img src="http://{{ app.request.httpHost }}/logo.png" style="width: 300px; height: auto; margin-top: 20px;"/>
        </div>
        <div style="text-align:center;">
            Thanks for using Flshcrds.com!<br><br> Here is link to your flshcrds stack:<br><br>
        </div>
        <div style="text-align: center;">
            <div style="display:inline-block; padding: 10px 20px; font-weight:bold; text-align: center; margin: 0 auto; border-radius: 3px; border: 1px solid #ccc;">
                http://flshcrds.com/{{ uri }}
            </div>
        </div>
    </div>
</body>
</html>
